{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container-flex light-yellow">
  <div class="row justify-content-center">
    <div class="col-11 col-md-6 col-lg-4 mt-3 mb-3">

      <h1>{% trans "Log In" %}</h1>


        <p>{% blocktrans %}Welcome to Page Turner Book Club. If you want to join our monthly discussions, and do not have an account yet,
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-11 col-md-6 col-lg-4 mt-3 mb-3">
   

        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-account right" type="submit">{% trans "Sign In" %}</button>
        </form>
    </div>
  </div>
</div>

{% endblock %}
