{% extends 'base.html' %}
{% block content %}

<div class="card justify-content-center" style="max-width: 90%; margin: 20px auto;">
	<div class="card-header">
		Book Club Poll
	</div>
	<!-- Monthly poll-->
	<div class="card-body"> 
		<p>Please choose a book from the selection to discuss next month.</p>
		<h5 class="card-title">{{ question.question_text }}</h5>
	 
		{% if error_message %}
		<p class ="alert alert-danger">
		<strong>{{ error_message }}</strong>
		</p>
		{% endif %}
		<form action ="{% url 'vote' question.id %}" method ="post">
		<div class="row row-cols-1 row-cols-md-3 g-4">
		
			{% csrf_token %}
			{% for choice in question.choice_set.all %}	
			<div class="col">
				<div class="card">
					{% if "placeholder" in choice.book.image.url %}
					<img src="https://res.cloudinary.com/dne60wscn/image/upload/v1684054978/placeholder_pacovf_h61pb2.jpg" class="card-img-top vote-detail-img" alt="placeholder image">
					{% else %}
					<img class="card-img-top vote-detail-img" src=" {{ choice.book.image.url }}" alt="{{ choice.book.title }}">
					{% endif %}
					<div class="card-body text-center">	
						<h5>{{ choice.book }}</h5>
						<span class="badge rounded-pill author">Author: {{ choice.book.author }}</span>
						<div class="spacer"></div>
						<input type="radio" name ="choice" class="btn-check" id ="choice{{ forloop.counter }}"  value ="{{ choice.id }}" >
						<label class="btn btn-outline-success" for="choice{{ forloop.counter }}">Vote for this Book</label>
					</div>
				</div>
			</div><!-- ends col-->
			{% endfor %}
			<div class="voting-cont">
				<div class="vote-submit">
					<input type ="submit" value ="Vote" class ="btn btn-success btn-lg btn-block poll-submit">
				</div>						
				<div class="vote-back">
					<a href="{% url 'polls' %}" class="btn btn-readmore back text-warning">Back To Polls</a>
				</div>
			</div>			  
		</div>
		</form>
	</div>
</div>
{% endblock %}

