{% extends 'base.html' %} 
{% block content %}

<div class="card justify-content-center" style="max-width: 800px; margin: 20px auto;">
    <div class="card-header">
        Poll Questions
    </div>
    <div class="card-body">
        <p class="card-text">We read a lot to identify the best new books out there, and we also take sugggestion from our
            members books addition to the club. Then we hold a members VOTE to
            decide which book will become next month’s title. Our Curated vote list is comprised of at least three
            books. You can Vote below for next
            month’s Book</p>
       <p class="card-text">
        
        {% if latest_question_list %}
        {% for question in latest_question_list %}
        
        <h5 class ="">{{ question.question_text }}</h5>
        <a href ="{% url 'detail' question.id %}" class ="btn btn-primary btn-sm">Vote Now</a>
        <a href ="{% url 'results' question.id %}" class ="btn btn-secondary btn-sm">Results</a>
        {% endfor %}
        {% else %}
        <hr class="featurette-divider">
    </div>

</div>

<p>No polls available</p>
 
{% endif %}
{% endblock %}