
/* Header - Navigation */
.blue {
    background-color: #2e3a42;
    font-family: 'open sans', 'sans serif'; 
}

.cream {
    color: #f2ecce;
}


/* Index.html - Section Featured Image*/
.light-yellow {
    background-color: #f2ecce;
}
.openbook {
    width: 500;
    height: 500;

}

.love-book {
    font-family: 'open sans', 'sans serif';
    font-weight: 600;
    font-style: italic;
    color: #2e3a42;
}

.equal {
    display: flex;
    flex-wrap: wrap;
}

/*.featurette-divider {
    
}*/

/* Index.html - Section  Join*/

.join-icon {
    color: #eb6162;
}
.dark-blue {
    background-color: #2e3a42;
}

.icons {
    font-size: 30px;
    align-content: center;
}
.index-card {
    font-family: 'open sans', 'sans serif';
    font-weight: 300;
    color: #f2ecce;
    font-size: 15px;
}

/* Books */

.excerpt-height {
    max-height: 310px;
    overflow: hidden;
}

/* Footer */

footer {
    background-color:#d87f53;
}

li i{
    color: #f2ecce;
}

.social-networks {
    list-style: none;
    font-size: 25px;
    color: #f2ecce;
    letter-spacing: 10px;
}

/* Account Log in, Sign up, Log out  */
.btn-account {
    background-color: #2e3a42;
    color: #f2ecce;
}

