
/* Header - Navigation */
.blue {
    background-color: #2e3a42;
    font-family: 'open sans', 'sans serif'; 
}

.cream {
    color: #f2ecce;
}

.nav-link:hover, .navbar-brand:hover {
    color: #eb6162;
}

.dropdown-menu {
    background-color: #2e3a42;
}

.logout, .show {
    color: #eb6162;
}



/* Index.html - Section Featured Image*/
.light-yellow {
    background-color: #f2ecce;
}
.openbook {
    width: 500;
    height: 500;

}

.love-book {
    font-family: 'open sans', 'sans serif';
    font-weight: 600;
    font-style: italic;
    color: #2e3a42;
}

.equal {
    display: flex;
    flex-wrap: wrap;
}

.club-text {
    text-align: center;
}

.carousel-caption {
    top: 25%;
    bottom: auto;
    background-color: rgb(2, 2, 2);
    opacity: 0.8;
}

.grey {
    background-color: #2e3a42;
}

.view-details {
    background-color: #2e3a42;
    color: #eb6162;
}

.circle-singleline {
    margin: 20px auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 12px;
    line-height: 20px;
    text-align: center;    
    background: rgba(33, 37, 41, 0.75);
    color: #fff;
}

.home-icons{
  margin-top: 40px;
}

/* Index.html - featureate section*/

.feat-padding{
    padding-top: 40px;
}

.white{
    color: #fff;
}

/* Index.html - Section  Join*/

.join-icon, .pink {
    color: #eb6162;
}
.dark-blue {
    background-color: #2e3a42;
}

.icons {
    font-size: 30px;
    align-content: center;
}
.index-card {
    font-family: 'open sans', 'sans serif';
    font-weight: 300;
    color: #f2ecce;
    font-size: 15px;
}

/* Books */


.excerpt-height {
    max-height: 246px;
    overflow: hidden;
}

.read-more {
    width: 60%;
    height: 45px;
    bottom: 0;
    position: absolute;
    
}

.author {
    background-color: #eb6162;
    
}

.btn-readmore {
    background-color: #2e3a42;
    color: #f2ecce;
}

.heart-container {
    width: 20%;
    height: 17px;
    margin-top: 4px;
    /* text-align: left; */
    float: left;
}


.readmore-container {
    width: 50%;
    text-align: right;
    
}

.quarter {
    width: 25%;
}

.readmore { 
    float: left;
}

.edit-container {
    float: left;
}

.delete-container {
    float:left;
    
}
.spacer {
    height: 40px;
}

.club-text {
    text-align: center;
}

/* books_details.html*/
.col-heart, .col-comments{
    width: 50%;
    margin: 20px auto;
    float: left;
}

/*  Poll details.html*/

.more{

}

/* Footer */

footer {
    background-color:#d87f53;
    /* bottom: 0;
    position: absolute; */
    width: 100%;
    margin: 20px 0 0 0 ;
    padding: 25px;   
}

li i{
    color: #f2ecce;
}

.social-networks {
    list-style: none;
    font-size: 25px;
    color: #f2ecce;
    letter-spacing: 10px;
}

/* Vote */
.vote {
    width: 15%;
    height: 45px;
    bottom: 0;
    
    }

    .back {
        float: right;
    }

    .voting-cont {
        width: 100%;
       
    }

    .vote-submit, .vote-back {
        width: 50%;
        float: left;
    }

    .poll-submit{
        width: 100px;
    }
/* Account Log in, Sign up, Log out  */
.btn-account {
    background-color: #2e3a42;
    color: #f2ecce;
}


/* sign up */
#id_username,#id_email, #id_password1,#id_password2,#id_login,#id_password{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
