
/* Header - Navigation */
.blue {
    background-color: #2e3a42;
    font-family: 'open sans', 'sans serif'; 
}

.cream {
    color: #f2ecce;
}


/* Footer */

footer {
    background-color:#d87f53;
}

i.fa {
    color: #f2ecce;
    font-size: 30px;
}

.social-networks {
    list-style: none;
}