{% extends 'base.html'%}

{% block content %}

<!--400 error  -->

<div class="card justify-content-center border-warning" style="max-width: 600px; margin: 20px auto;">
    <img src="https://res.cloudinary.com/dne60wscn/image/upload/v1684065155/static/images/404_rikcsd.jpg" class="card-img-top" alt="blank book">
    <div class="card-body text-center">
      <h5 class="card-title">400 Bad Request</h5>
      <p class="card-text">Page Turner Book Club is unable to handle this request.</p>
      <a href="/" class="btn btn-primary">Back to Home</a>
    </div>
  </div>

{% endblock %}