{% extends 'base.html' %} 
{% block content %}

{% load crispy_forms_tags %}

<div class="card justify-content-center" style="max-width: 800px; margin: 20px auto;">
    <div class="card-header">
      Suggest a Book
    </div>
        <div class="card-body">
        <h5 class="card-title">Add a Book to the Club</h5>
        <p class="card-text">Here you can suggest a book you like to the club.</p>
        
            <div class="col">
                {% if user.is_authenticated %}
                <form method="post"style="margin-top: 1.3em;">
                    {{ form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-account">Submit</button>
                </form>
                {% endif %}
            </div>
        
        </div>
</div>



{% endblock %}