{% extends 'base.html' %} 
{% block content %}

{% load crispy_forms_tags %}
 <!-- Book details-->
<div class="card-group" >
    <div class="card">
        <div class="row g-0">
            <div class="col-md-3">
                {% if "placeholder" in book.image.url %}
                <img src="https://res.cloudinary.com/dne60wscn/image/upload/v1684054978/placeholder_pacovf_h61pb2.jpg" class="img-fluid rounded-start" alt="placeholder image">
                {% else %}
                <img class="card-img-top img-fluid rounded-start" src=" {{ book.image.url }}" alt="{{ book.title }}">
                {% endif %}

            </div>

            <div class="col-md-9">
                
                <div class="col-pill">
                    <div class="image-flash" style="margin:10px;">
                        <span class="badge rounded-pill author">Author: {{ book.author }}</span>
                    </div>
                </div>
               
                <div class="card-body">

                    <h3 class="card-title">{{ book.title }}</h3>
                    <p class="card-text">{{ book.description }}</p>
                        
                    <div class="heart-bubble-container">
                        <!-- Book likes -->
                        <div class="col-heart">
                            <strong>
                                {% if user.is_authenticated %}
                                <form class="d-inline" action="{% url 'book_like' book.slug %}" method="POST">
                                    {% csrf_token %}
                                    {% if liked %}
                                    <button type="submit" name="blogpost_id" value="{{book.slug}}" class="btn-like"><i class="fas fa-heart pink"></i></button>
                                    {% else %}
                                    <button type="submit" name="blogpost_id" value="{{book.slug}}" class="btn-like"><i class="far fa-heart pink"></i></button>
                                    {% endif %}
                                </form>
                                {% else %}
                                <span class="pink"><i class="far fa-heart"></i></span>
                                {% endif %}
                                <span class="pink">{{ book.number_of_likes }} </span>
                            </strong>
                        </div>
                            <!-- Book comments -->
                            <div class="col-comments">
                                {% with comments.count as total_comments %}
                                <strong class="text-secondary"><i class="far fa-comments"></i>
                                    {{ total_comments }}</strong>
                                {% endwith %}
                            </div>
                    </div>  
                </div>    
            </div>
        </div>     
    </div>
</div>     

<!-- Comments -->
<div class="container">                     
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">     
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
              
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}

                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-readmore text-warning">Submit</button>
                </form>
                {% endif%}
                {% endif%}

            </div>
        </div>
    </div>
</div>


{% endblock content %}