{% extends "base.html" %}

{% block content %}

<div class="container-fluid light-yellow">
    <div class="row">
        <div class="col-12">
            <h1 class="page-title">Books Recommendations</h1>
        </div>
    </div>
    <br>
    <!-- Books entries -->
   <div class="row row-cols-1 row-cols-md-2 g-4">  
        {% for book in book_list %}
        <div class="card-group" >
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4">
                        {% if "placeholder" in book.featured_image.url %}
                        <img src="/static/images/placeholder.png" class="img-fluid rounded-start" alt="placeholder image">
                        {% else %}
                        <img class="card-img-top img-fluid rounded-start" src=" {{ book.image.url }}">
                        {% endif %}
                        <div class="image-flash" style="margin:10px;">
                            <span class="badge rounded-pill author">Author: {{ book.author }}</span>
                        </div>
                    </div>

                    <div class="col-md-8">
                       
                        <div class="card-body">
                            <h3 class="card-title">{{ book.title }}</h3>
                            <p class="card-text excerpt-height">{{ book.excerpt }}</p>
                                <div class="read-more"> 
                                    <div class="heart-container"><i class="far fa-heart pink">  {{ book.number_of_likes}}</i></div>
                                    <div class="readmore-container"><a href="{% url 'books_detail' book.slug %}" class="btn btn-readmore">Read More</a></div>
                                </div>
                        </div>    
                    </div>
                </div>     
            </div>
            
        </div>
        {% endfor %}
        
        <div class="spacer"></div>

   </div>
   
            
        <!-- Pagination from Django blog -->
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
    
                {% endif %}
            </ul>
        </nav>
        {% endif %}
     <!-- </div>     -->
</div>
{% endblock %}