{% extends "base.html" %}

{% block content %} 
<!-- Section 1 -->

<div class="container-fluid light-yellow overflow-hidden">
  <div class="row featurette">
      <div class="col-7 ">
        <img class="img-fluid openbook equal" src="/static/images/library.jpg" alt="Library"> 
      </div>
      <div class="col-5">
       <p class="lead align-items-end love-book equal">Love getting lost in a book, join in on the conversation and lets get lost together.</p>
      </div>
      <hr class="featurette-divider">
  </div>
</div>  
<!-- Join the club section -->
<div class="container-fluid dark-blue justify-content-center d-flex">
  <div class="row text-center" style="width:40rem; height: 25rem;">
    <div class="col-4">
      <div class="card">
        <div class="card-body dark-blue">
          <i class="fa-solid fa-book fa-3x join-icon"></i>
          <p class="card-text mt-3 index-card">View the books recommended in the club</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body dark-blue">
          <i class="fa-solid fa-plus fa-3x join-icon"></i>
          <p class="card-text mt-3 index-card">Join our tribe</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body dark-blue">
          <i class="fa-solid fa-heart-circle-plus fa-3x join-icon"></i>
          <p class="card-text mt-3 index-card">Propose new books to read with a poll</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body dark-blue">
          <i class="fa-solid fa-comment fa-3x join-icon"></i>
          <p class="card-text mt-3 index-card">Share your comments</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body dark-blue">
          <i class="fa-solid fa-star fa-3x join-icon"></i>
          <p class="card-text mt-3 index-card">Rate each book you read</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body dark-blue">
          <i class="fa-solid fa-circle-nodes fa-3x join-icon"></i>
          <p class="card-text mt-3 index-card">Connect with our members</p>
        </div>
      </div>
    </div>
    <hr class="featurette-divider"> 
</div>
<hr>
<!-- <div class="container-fluid overflow-hidden"></div>
<div class="row featurette">
  <div class="col-md-7">
    <p>Page Turner is so much more than a book club, we start the conversation around books, but it always leads to
      deeper more meaningful connection and provides the foundation for lifelong friendships. Join us and discover a
      wide variety of new books, new authors and new friends. We are delighted to welcome you into Page Turner Book Club!
    </p>
  </div>
  <div class="col-md-5">
    <img class="img-fluid openbook equal" src="/static/images/openbook1.jpg" alt="open-book">
  </div>
</div> -->
{% endblock %} 