{% extends "base.html" %}

{% block content %} 
<!-- Section 1 -->

<div class="container-fluid light-yellow overflow-hidden">
  <div class="row featurette">
      <div class="col-7 ">
        <img class="img-fluid openbook equal" src="/static/images/library.jpg" alt="open book"> 
      </div>
      <div class="col-5">
       <p class="lead align-items-end love-book equal">Love getting lost in a book, join in on the conversation and lets get lost together.</p>
      </div>
      <hr class="featurette-divider">
  </div>
</div>  
<!-- How to join the experience section -->
<div class="container-fluid">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <i class="fa-solid fa-book fa-3x"></i>
        <p class="card-text mt-3 index-card">View the books the recommended in the club</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <i class="fa-solid fa-plus fa-3x"></i>
        <p class="card-text mt-3 index-card">Join our tribe</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <i class="fa-solid fa-poll-people fa-3x"></i>
        <p class="card-text mt-3 index-card">Propose new books to read with a poll</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <i class="fa-solid fa-comment fa-3x"></i>
        <p class="card-text mt-3 index-card">Share your comments</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <i class="fa-solid fa-comment-heart fa-3x"></i>
        <p class="card-text mt-3 index-card">Rate each book you read</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <i class="fa-solid fa-circle-nodes fa-3x"></i>
        <p class="card-text mt-3 index-card">Connect with other member on out monthly discussions</p>
      </div>
    </div>
    <hr class="featurette-divider">
    

  </div>

{% endblock %} 