{% extends "base.html" %}

{% block content %} 
<!-- Section -->

<div class="container text-center">
  <div class="row">
      <div class="col ">
        image
      </div>
      <div class="col">
       <p>Love getting lost in a book, join our tribe and join in on the conversation.</p>
      </div>

<!-- How to join the experience section -->
<div class="container">
  <div class="row">
    <div class="col lg-4">
      <img class="rounded circle " src="" alt="" width="140" height="140" >
      <p>View the books the recommended in the club</p>
    </div>
    <div class="col lg-4">
      <img class="rounded circle " src="" alt="" width="140" height="140" >
      <p>Join us</p>
    </div>
    <div class="col lg-4">
      <img class="rounded circle " src="" alt="" width="140" height="140" >
      <p>Propose new books to read and discuss with a poll</p>
    </div>
    <div class="col lg-4">
      <img class="rounded circle " src="" alt="" width="140" height="140" >
      <p>Share your comments</p>
    </div>
    <div class="col lg-4">
      <img class="rounded circle " src="" alt="" width="140" height="140" >
      <p>Rate each book you read</p>
    </div>
    <div class="col lg-4">
      <img class="rounded circle " src="" alt="" width="140" height="140" >
      <p>Connect with other member on out monthly discussions</p>
    </div>

    

  </div>
</div>
{% endblock %} 