
{% extends 'base.html' %} 
{% block content %}

{% if user.is_authenticated %}

<div class="container-fluid light-yellow" style="margin-bottom: 25px;">
    <div class="row">
        <div class="col-12">
            <h1 class="page-title">My Books</h1>
        </div>
    </div>
    <br>
    <!-- Books entries -->
    <div class="row row-cols-1 row-cols-md-2 g-4">  
        {% for book in book_list %}
        <div class="card-group" >
            <div class="card card-footerfix">
                <div class="row g-0">
                    <div class="col-md-4">
                        {% if "placeholder" in book.image.url %}
                        <img src="https://res.cloudinary.com/dne60wscn/image/upload/v1684054978/placeholder_pacovf_h61pb2.jpg" class="img-fluid rounded-start" alt="placeholder image">
                        {% else %}
                        <img class="card-img-top img-fluid rounded-start" src=" {{ book.image.url }}" alt="{{ book.title }}">
                        {% endif %}
                    </div>

                    <div class="col-md-8">
                        <div class="image-flash" style="margin:10px;">
                            <span class="badge rounded-pill author">Author: {{ book.author }}</span>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{ book.title }}</h3>
                            <p class="card-text excerpt-height">{{ book.excerpt }}</p>
                                
                        </div>    
                    </div>
                    <div class="card-footer"> 
                    <div class="heart-container quarter"><i class="far fa-heart pink">  {{ book.number_of_likes}}</i></div>
                    <div class="readmore quarter"><a href="{% url 'books_detail' book.slug %}" class="btn btn-readmore text-warning">More</a></div>
                    <div class="edit-container quarter"><a href="{% url 'edit_book' book.slug %}" class="btn btn-success">Edit</a></div>
                    <div class="delete-container quarter"><a href="{% url 'delete_book' book.slug %}" class="btn btn-danger">Delete</a></div>
                </div>
                    
                </div>   
                
                
            </div>
        </div>     
        {% endfor %}
        <div class="spacer"></div>

   </div>
        <!-- Pagination from Django blog -->
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
    
                {% endif %}
            </ul>
        </nav>
        {% endif %}
</div>
{% endif %}

{% endblock %}
